<!DOCTYPE html>
<html>
  <head>
    <title>Makers B&B</title>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link href="style.css" rel="stylesheet" type="text/css">
      <script src="./model/user.js"></script>
      <script src="./jquery.js"></script>

      <div class='nav_bar'>
          <h2 class='nav_title'> Makers B&B </h2>
        <div class ='button_container'>

      <% if(user){ %>
          <a class="square_btn35" href='/'><font face="courier">Home</a>
          <a class="square_btn35" href='/logout'><font face="courier">Log out</a>
          <a class="square_btn35" href='/properties'><font face="courier">Add a property</a>
      <% } else { %>

          <a class="square_btn35" href='/login'><font face="courier">Login</font></a>
          <a class="square_btn35" href='/users'><font face="courier">Sign up</font></a>
          <a class="square_btn35" href='/'><font face="courier">Home</a>
          <% } %>

        </div>

      </div>
  </head>
  <body>

    <br>
    <center>
    <p><h2> Profile Page </h2></p><br>
    <% if(user){ %>
          <h4> Hi <%= user.username %>, welcome to your account page </h4>
    <% }%>
    <center>
      <br>
    <div class='property_list'>
      <div class='property_row'>
        <div class='property_img'></div>

          <div class="container" style="">
         	 <div style="" class="table-wrapper-scroll-y">
             <font face="courier">
          	 <table class="table table-hover">
          	 	<thead>
          	 		<tr>
				          <th scope="col"> Property Name </th>
				          <th scope="col"> Address </th>
				          <th scope="col"> Rooms </th>
				          <th scope="col"> Price(£) </th>
				          <th scope="col"> Available from:</th>
				          <th scope="col"> Available to:</th>
				         </tr>
				       </thead>
               <tbody>
				   	     <% if(properties){ %>
				   	     <% properties.forEach(function(property){ %>
				   	     <tr>
				           <td><%= property.name %></td>
				           <td><%= property.address %></td>
				           <td><%= property.rooms %></td>
				           <td><%= property.price %></td>
                   <td><%= property.start_date %></td>
                   <td><%= property.end_date %></td>
				           <td><a class="square_btn35" id="Delete" value="<%= property._id%>" href="/deleteProp/<%= property._id %>">Delete?</a></td>
				           <td><a class="square_btn35" href="/#">Update details?</a></td>
				         <% }) %>
				         <% } %>
				         </tr>
				       </tbody>
			       </table>
             <font>
			</div>
		</div>
