
<% include partials/header %>
 <p>Welcome to <%= title %></p>
    <div class='property_list'>
      <div class='property_row'>
          <div class='property_img'></div>
        </div>
        <div class="container" style="">
         	 <div style="" class="table-wrapper-scroll-y">
          	 <table class="table table-hover">
          	 	<thead>
          	 		<tr>
				      <th scope="col">Name Flat</th>
				      <th scope="col">Adress</th>
				      <th scope="col">Rooms</th>
				      <th scope="col">Price(£)</th>
				      <th scope="col">Book!</th>
				       <th scope="col"></th>
				  </tr>
				   </thead>

				   <tbody>
				   	<% if(propertyDetails){ %>
				   	<tr>
				      <td><%= propertyDetails.name %></td>
				       <td><%= propertyDetails.address %></td>
				       <td><%= propertyDetails.rooms %></td>
				       <td><%= propertyDetails.price %></td>
				       <td><a class="btn btn-danger" href="#">Book it!</a></td>
				       <% }%>
				   </tr>
				</tbody>
			</table>
			</div>
		</div>
<% include partials/footer %>
